[Desktop Entry]
Version=1.0
Type=Application
Name=Kerbal Space Program
Comment=A game where players create their own space program
Icon=kerbalspaceprogram
Exec=kerbalspaceprogram
Categories=Game;
Path=/opt/kerbalspaceprogram

